#### 주어진 날짜별 코스피 상장사 주가 데이터(kospi.csv)에서 아래의 문항에 맞는 코드를 작성하세요.

#### (1) kospi_df의 변수 이름으로 csv파일을 데이터 프레임으로 불러오세요.

In [1]:
kospi_df = pd.read_csv('kospi.csv')
kospi_df.tail(2)

,aq,cr,cv,dt,hv,lv,ncv,ov,rf,name
9998,1053114,0.763359,40,20190718,5340.0,5240.0,5280,5240.0,2,메리츠종금증권
9999,1146495,-0.380228,-20,20190717,5350.0,5220.0,5240,5260.0,5,메리츠종금증권

In [8]:
kospi_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
aq      10000 non-null int64
cr      10000 non-null float64
cv      10000 non-null int64
dt      10000 non-null int64
hv      10000 non-null float64
lv      10000 non-null float64
ncv     10000 non-null int64
ov      10000 non-null float64
rf      10000 non-null int64
name    10000 non-null object
dtypes: float64(4), int64(5), object(1)
memory usage: 781.4+ KB

#### (2) 파일에 있는 유니크한 날짜수(dt)와 기업수(name)를 출력하세요.

In [6]:
print(f'유니크한 날짜 수 : {len(pd.unique(kospi_df.dt))}') 
print(f'유니크한 기업 수 : {len(pd.unique(kospi_df.name))}')

유니크한 날짜 수 : 100
유니크한 기업 수 : 100

#### (3) 2019년 12월 08일 이후의 날짜별 평균 상승률을 소수 셋째자리까지 리스트의 딕셔너리 형태로 데이터를 출력하세요. (dt: 날짜, cr: 상승률)

(출력 포맷 예시: [{'dt':20191109, 'cr':-1.234}, {'dt':20191110, 'cr':5.512}]

In [138]:
df1 = kospi_df[kospi_df.dt > 20191208].groupby('dt').mean()
df1 = df1.reset_index()[['dt', 'cr']]
df1['cr'] = round(df1.cr, 3)

In [139]:
df1.to_dict('records')

[{'dt': 20191209, 'cr': -0.041}, {'dt': 20191210, 'cr': 0.545}]

#### (4) 2019년 10월 21일 상승률 상위 5개 회사를 출력하세요. (cr: 상승률)

In [141]:
df2 = kospi_df[kospi_df.dt == 20191021].sort_values(by='cr', ascending=False)
top5_list = list(df2.head().name)
top5_list

['LG디스플레이', '엔씨소프트', '오리온', '삼성전기', 'CJ제일제당']

In [83]:
df2.tail(2)

,aq,cr,cv,dt,hv,lv,ncv,ov,rf,name
5536,472459,-2.486188,-900,20191021,36250.0,35250.0,35300,36250.0,5,현대제철
6236,114854,-2.594034,-1000,20191021,38900.0,37500.0,37550,38600.0,5,롯데지주

#### (5) 2019년 11월 30일에서 2019년 12월 5일까지 일별 상승률 상위 5개 회사의 평균 상승률을 소수점 셋째 자리까지 출력하세요. (cr: 상승률)

In [164]:
df4 = kospi_df[(kospi_df.dt >= 20191130) & (kospi_df.dt <= 20191205)]
df4 = df4.sort_values(['dt', 'cr'], ascending=False)[['dt', 'name', 'cr']]
df4 = df4.groupby('dt').head(5)
np.round(np.average(df4.cr), 3)

2.901

#### (6) 전체 기간에서 평균 등락이 높은 3개의 회사이름과 평균 등락수치를 출력하세요. (cv: 등락)

In [96]:
pd.DataFrame(kospi_df.groupby(by='name').mean().sort_values(by='cv', ascending=False).head(3)['cv'])

             cv
name
삼성바이오로직스  945.0
NAVER     545.0
엔씨소프트     400.0

#### (7) NAVER와 한국전력의 종가 데이터의 상관계수를 소수 둘째 자리까지 출력하세요. (ncv: 종가)

$r =$ $ \Sigma(x-\overline{x})(y-\overline{y}) \over \sqrt{\Sigma(x-\overline{x})^2\Sigma(y-\overline{y})^2}$

In [104]:
df_naver = kospi_df[kospi_df.name == 'NAVER']
df_kepco = kospi_df[kospi_df.name == '한국전력']

In [121]:
naver = np.array(df_naver.ncv)
n_mean = np.mean(naver)
kepco = np.array(df_kepco.ncv)
k_mean = np.mean(kepco)
n_mean, k_mean

(153420.0, 26316.0)

In [125]:
np.sum((naver - n_mean) * (kepco - k_mean))

759578000.0

In [129]:
np.sum((naver - n_mean)**2)

18759860000.0

In [131]:
round(np.sum((naver - n_mean) * (kepco - k_mean))/ np.sqrt(np.sum((naver - n_mean)**2) * np.sum((kepco - k_mean)**2)), 2)

0.48