### 01 변수와 데이터 타입 (001 ~ 040)

In [1]:
# 001
print('Hello World')

Hello World

In [17]:
# 002
print("Mary's cosmetics")
print('Mary\'s cosmetics')

Mary's cosmetics
Mary's cosmetics

In [16]:
# 003
print('신씨가 소리질렀다. "도둑이야".')
print("신씨가 소리질렀다. \"도둑이야\".")

신씨가 소리질렀다. "도둑이야".
신씨가 소리질렀다. "도둑이야".

In [25]:
# 004
print('"C:\Windows"')

"C:\Windows"

In [11]:
# 005
print("안녕하세요.\n만나서\t\t반갑습니다.")
# \n: 줄바꿈, \t: tab

안녕하세요.
만나서		반갑습니다.

In [8]:
# 006
# "오늘은" "일요일"
print("오늘은", "일요일")

오늘은 일요일

In [10]:
# 007
print('naver', 'kakao', 'sk', 'samsung', sep=';')

naver;kakao;sk;samsung

In [12]:
# 008
print('naver', 'kakao', 'sk', 'samsung', sep='/')

naver/kakao/sk/samsung

In [14]:
# 009
print("first", end=' ');print("second")

first second

In [26]:
# 010
string = "dk2jd923i1jdk2jd93jfd92jd918943jfd8923"
len(string)

38

In [27]:
# 011
a = "3"
b = "4"
print(a + b)
# 34

34

In [28]:
# 012
s = "hello"
t = "python"
print("{}! {}".format(s, t))

hello! python

In [29]:
# 013
print("Hi"*3)
# HiHiHi

HiHiHi

In [30]:
# 014
print('-'*80)

--------------------------------------------------------------------------------

In [37]:
# 015
t1 = 'python'
t2 = 'java'
print("{} {} ".format(t1, t2) * 4)

python java python java python java python java

In [38]:
# 016
p = 20000
print(p * 10)

200000

In [39]:
# 017
2 + 2 * 3
# 8

8

In [40]:
# 018
a = 128
print(type(a))

<class 'int'>

In [41]:
a = "132"
type(a)
# string

str

In [47]:
# 019
num_str = "720"
int(num_str)

720

In [48]:
# 020
num = 100
str(num)

'100'

In [50]:
# 021
lang = 'python'
print(lang[0], lang[2])

p t

In [51]:
# 022
license_plate = '24가 2210'
license_plate[-4:]

'2210'

In [52]:
# 023
string = "홀짝홀짝홀짝"
string[::2]

'홀홀홀'

In [53]:
# 024
string = 'PYTHON'
string[::-1]

'NOHTYP'

In [54]:
# 025
phone_number = "010-1111-2222"
phone_number.replace("-", " ")

'010 1111 2222'

In [55]:
# 026
phone_number.replace("-", "")

'01011112222'

In [56]:
# 027
url = "http://sharebook.kr"
url[-2:]

'kr'

In [72]:
# 028
lang = 'python'
lang[0] = 'P'
print(lang[0])
# Python

TypeError: 'str' object does not support item assignment

* 기존에 생성한 문자열은 변경할 수 없다

In [68]:
lang.replace('p', 'P')

'Python'

In [70]:
# 029
string = 'abcdfe2a354a32a'
string.replace('a', 'A')

'Abcdfe2A354A32A'

In [71]:
string

'abcdfe2a354a32a'

In [84]:
# 030
string = 'abcd'
string.replace('b', 'B')
print(string)

abcd

* replace 메서드는 기존 문자열을 수정하는 것이 아닌 변경된 문자열 새로 생성

### 02 파이썬 기본 자료구조 (041 ~ 090)

In [126]:
# 041
movie_rank = ['닥터 스트레인지', '스플릿', '럭키']
movie_rank

['닥터 스트레인지', '스플릿', '럭키']

In [127]:
# 042
movie_rank.append('배트맨')
movie_rank

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [128]:
# 043
movie_rank.insert(1, '슈퍼맨')
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [129]:
# 044
movie_rank.remove('럭키')
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [111]:
# 045
movie_rank.remove('스플릿')
movie_rank.remove('배트맨')
movie_rank

['닥터 스트레인지', '슈퍼맨']

In [130]:
# del movie_rank[2:]

In [131]:
movie_rank

['닥터 스트레인지', '슈퍼맨']

In [114]:
# 046
lang1 = ['C', 'C++', 'Java']
lang2 = ['Python', 'Go', 'C#']
langs = lang1 + lang2
langs

['C', 'C++', 'Java', 'Python', 'Go', 'C#']

In [116]:
# 047
nums = [1, 2, 3, 4, 5, 6, 7]
_max = max(nums)
_min = min(nums)
print("max:  {} \nmin:  {}".format(_max, _min))

max:  7
min:  1

In [117]:
# 048
nums = [1, 2, 3, 4, 5]
sum(nums)

15

In [118]:
# 049
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "쏘세지", "라면", "팥빙수", "김치전"]
len(cook)

12

In [121]:
# 050
nums = [1, 2, 3, 4, 5]
sum(nums) / len(nums)

3.0

In [135]:
# 051
price = ['20200205', 100, 130, 140, 150, 160, 170]
price[1:]

[100, 130, 140, 150, 160, 170]

In [136]:
# 052
price = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
price[::2]

[1, 3, 5, 7, 9]

In [137]:
# 053
price[1::2]

[2, 4, 6, 8, 10]

In [138]:
# 054
nums = [1, 2, 3, 4, 5]
nums[::-1]

[5, 4, 3, 2, 1]

In [170]:
# 055
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[2])

삼성전자 Naver

In [197]:
# 056
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(' '.join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [198]:
# 057
print('/'.join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [199]:
# 058
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print('\n'.join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [153]:
# 059
string = "삼성전자/LG전자/Naver"
interest = string.split(sep='/')
print(interest)

['삼성전자', 'LG전자', 'Naver']

In [155]:
# 060
string = "삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우"
interest = string.split(sep='/')
print(interest)

['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

In [204]:
# 061
interest_0 = ['삼성전자', 'LG전자', 'SK Hynix']
interest_1 = interest_0
interest_1[0] = 'Naver'
print(interest_0)
# ['Naver', 'LG전자', 'SK Hynix']

['Naver', 'LG전자', 'SK Hynix']

In [206]:
# 062
interest_0 = ['삼성전자', 'LG전자', 'SK Hynix']
interest_1 = interest_0[:2]
interest_1[0] = 'Naver'
print(interest_0)
# 뭐가다른거지

['삼성전자', 'LG전자', 'SK Hynix']

* 61번에서 interest_1에 interest_0 전체를 대입하면 동일한 리스트를 가리킴
* 62번에서 interest_1에 interest_0의 슬라이싱을 정의하면, 복사 생성하므로 다른 리스트를 가리킴

In [208]:
# 063
my_variable = ()
my_variable

()

In [209]:
# 064
t = (1, 2, 3)
t[0] = 'a'
# t가 튜플이라서 내용을 바꿀 수 없음

TypeError: 'tuple' object does not support item assignment

In [212]:
# 065
num = (1)
type(num)

int

In [219]:
num = (1, )
type(num)
# 원소가 하나인 경우는 튜플이 생성되지 않기 때문에 쉼표를 입력해야 한다

tuple

In [213]:
# 066
t = 1, 2, 3, 4
# 튜플형
type(t)

tuple

In [224]:
# 067
t = ('a', 'b', 'c')
# 수정할 수 없다
# t = ('A', 'b', 'c')
# t
t[0].upper()

'A'

In [216]:
# 068
interest = ('삼성전자', 'LG전자', 'SK Hynix')
list(interest)

['삼성전자', 'LG전자', 'SK Hynix']

In [217]:
# 069
interest = ['삼성전자', 'LG전자', 'SK Hynix']
tuple(interest)

('삼성전자', 'LG전자', 'SK Hynix')

In [218]:
# 070
my_tuple = (1, 2, 3)
a, b, c = my_tuple
print(a + b + c)
# 6

6

In [226]:
# 071
a, b, *c = (0, 1, 2, 3, 4, 5)
print(a)
print(b)
print(c)

0
1
[2, 3, 4, 5]

In [259]:
# 072
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score, a, b = scores
print(*valid_score)
print(a)
print(b)

8.8 8.9 8.7 9.2 9.3 9.7 9.9 9.5
7.8
9.4

In [265]:
# 073
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
_, *valid_score, _ = scores
print(*valid_score)

8.9 8.7 9.2 9.3 9.7 9.9 9.5 7.8

In [241]:
# 074
temp = {}
type(temp)

dict

In [266]:
# 075
ice = {'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}
ice

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [246]:
# 076
ice.update({'죠스바': 1200, '월드콘': 1500})
ice

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [268]:
# ice['죠스바'] = 1200
# ice['월드콘'] = 1500
# ice

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [269]:
# 077
print('메로나 가격: ', ice['메로나'])

메로나 가격:  1000

In [270]:
# 078
ice['메로나'] = 1300
ice

{'메로나': 1300, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [255]:
# 079
ice.pop('메로나')
ice

{'폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [271]:
# del ice['메로나']
# ice

{'폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [256]:
# 080
ice['누가바']

KeyError: '누가바'

In [272]:
# 081
inventory = {'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}
inventory

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [277]:
# 082
print(inventory['메로나'][0], '원')

300 원

In [279]:
# 083
print(inventory['메로나'][1], '개')

20 개

In [281]:
# 084
inventory['월드콘'] = [500, 7]
inventory

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [284]:
# 085
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream.keys()

dict_keys(['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나'])

In [285]:
# 086
icecream.values()

dict_values([1200, 1200, 1800, 1500, 1000])

In [286]:
# 087
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
sum(icecream.values())

6700

In [288]:
# 088
new_product = {'팥빙수': 2700, '아맛나': 1000}
icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [297]:
# 089
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
# result = {keys[0]:vals[0], keys[1]:vals[1], keys[2]:vals[2]}
# result

{'apple': 300, 'pear': 250, 'peach': 400}

In [312]:
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
result = dict(zip(keys, vals))
result

{'apple': 300, 'pear': 250, 'peach': 400}

In [314]:
# 090
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]

# for i in list(range(0, len(date))):
#     close_table[date[i]] = close_price[i]
#     i += 1
    
# print(close_table)

{'09/09': 11000, '09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800}

In [316]:
close_table = dict(zip(date, close_price))
close_table

{'09/05': 10500,
 '09/06': 10300,
 '09/07': 10100,
 '09/08': 10800,
 '09/09': 11000}