In [1]:
# 121
for x in ['가', '나', '다', '라']:
    print(x)
# 4번 호출됨

가
나
다
라

In [2]:
# 122
for x in ['사과', '귤', '수박']:
    print(x)
# 사과
# 귤
# 수박

사과
귤
수박

In [3]:
# 123
for 변수 in ['사과', '귤', '수박']:
    print(변수)
    print('--')
# 사과
# --
# 귤
# --
# 수박
# --

사과
--
귤
--
수박
--

In [4]:
# 124
for 변수 in ["사과", "귤", "수박"]:
    print(변수)
print("--")
# 사과
# 귤
# 수박
# --

사과
귤
수박
--

In [5]:
# 125
menu = ['김밥', '라면', '튀김']

for i in menu:
    print('오늘의 메뉴:', i)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [6]:
# 126
portfolio = ['SK하이닉스', '삼성전자', 'LG전자']

for i in portfolio:
    print(i, '보유중')

SK하이닉스 보유중
삼성전자 보유중
LG전자 보유중

In [7]:
# 127
pets = ['dog', 'cat', 'parrot', ' squirrel', 'goldfish']

for i in pets:
    print(i, len(i))

dog 3
cat 3
parrot 6
 squirrel 9
goldfish 8

In [8]:
# 128
prices = [100, 200, 300]

for i in prices:
    print(i + 10)

110
210
310

In [15]:
# 129
prices = ['129,300', '1,000', '2,300']

for i in prices:
    print(int(i.replace(',', '')))

129300
1000
2300

In [16]:
# 130
menu = ['면라', '밥김', '김튀']

for i in menu:
    print(i[::-1])

라면
김밥
튀김

In [30]:
# 131
my_list = ['가', '나', '다', '라']
for i in my_list[1:]:
    print(i)

나
다
라

In [31]:
for i in my_list:
    if i != '가':
        print(i)

나
다
라

In [19]:
# 132
my_list = [1, 2, 3, 4, 5, 6]
for i in my_list[::2]:
    print(i)

1
3
5

In [20]:
# 133
for i in my_list[1::2]:
    print(i)

2
4
6

In [21]:
# 134
my_list = ['가', '나', '다', '라']
for i in my_list[::-1]:
    print(i)

라
다
나
가

In [23]:
# 135
my_list = [3, -20, -3, 44]
for i in my_list:
    if i < 0:
        print(i)

-20
-3

In [24]:
# 136
my_list = [3, 100, 23, 44]
for i in my_list:
    if i % 3 == 0:
        print(i)

3

In [25]:
# 137
my_list = ['I', 'study', 'python', 'language', '!']
for i in my_list:
    if len(i) >= 3:
        print(i)

study
python
language

In [32]:
# 138
my_list = [3, 1, 7, 10, 5, 6]
for i in my_list:
    if i > 5 and i < 10:
        print(i)

7
6

In [33]:
for i in my_list:
    if 5 < i < 10:
        print(i)

7
6

In [28]:
# 139
my_list = [13, 21, 12, 14, 30, 18]
for i in my_list:
    if (i > 10) and (i < 20) and (i % 3 == 0):
        print(i)

12
18

In [29]:
# 140
my_list = [3, 1, 7, 12, 5, 16]
for i in my_list:
    if (i % 3 == 0) or (i % 4 == 0):
        print(i)

3
12
16

In [39]:
# 141
my_list = ['A', 'b', 'c', 'D']
for i in my_list:
    if i.isupper():
        print(i)

A
D

In [40]:
# 142
my_list = ['A', 'b', 'c', 'D']
for i in my_list:
    if i.islower():
        print(i)

b
c

In [42]:
# 143
my_list = ['A', 'b', 'c', 'D']
for i in my_list:
    if i.isupper():
        print(i.lower(), end='')
    else:
        print(i.upper(), end='')

aBCd

In [43]:
# 144
file_list = ['hello.py', 'ex01.py', 'ch02.py', 'intro.hwp']
for i in file_list:
    file_name = i.split('.')[0]
    print(file_name)

hello
ex01
ch02
intro

In [56]:
# 145
filenames = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in filenames:
    if i.split('.')[1] == 'h':
        print(i)

intra.h
define.h

In [57]:
for i in filenames:
    if i.endswith('h'):
        print(i)

intra.h
define.h

In [58]:
# 146
filenames = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in filenames:
    if i.split('.')[1] == 'h':
        print(i)
    elif i.split('.')[1] == 'c':
        print(i)

intra.h
intra.c
define.h

In [59]:
for i in filenames:
    if i.endswith(('h', 'c')):
        print(i)

intra.h
intra.c
define.h

In [50]:
# 147
my_list = [3, -20, -3, 44]
new_list = []
for i in my_list:
    if i > 0:
        new_list.append(i)
        
new_list

[3, 44]

In [52]:
# 148
my_list = ['A', 'b', 'c', 'D']
upper_list = []
for i in my_list:
    if i.isupper():
        upper_list.append(i)
        
upper_list

['A', 'D']

In [54]:
# 149
my_list = [3, 4, 4, 5, 6, 6]
sole_list = []
for i in my_list:
    if i not in sole_list:
        sole_list.append(i)
sole_list

[3, 4, 5, 6]

In [55]:
# 150
my_list = [3, 4, 5]
sum = 0
for i in my_list:
    sum += i
sum

12